<%= render 'application/breadcumb_area' %>
<!--my-account area start-->
<div class="my-account-area">
  <div class="container">
    <div class="row row-padd row-title">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>
        <div class="panel-group pb60" id="accordion" role="tablist" aria-multiselectable="true">
          <%= render 'orders_list'%>
          <%= render 'accout_form' %>
          <%= render 'cancel_account' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--my-account area end-->
