.col-padd-custom{:class => "auction"+@auction.id.to_s}
  %input{:type => "hidden" , :value => @auction.id}
  .av_title= @auction.product.name
  .av_image
    .center
      %a.image{:href => auction_path(@auction.id)}
        =image_tag @auction.product.image ,class: "style_image_auction"
  .av_timer
    .timer_alert{"data-countdown" => @auction.auction_close,  "data-auctionid" => @auction.id.to_s, "data-auctiontype" => "active"}
  .av_price
    .price
      #{ActiveSupport::NumberHelper.number_to_currency(@auction.value, precision: 0, unit: 'FCFA')}
    =image_tag "icon/price.png", class: "bg-price"
  .av_winner
    -@auction.podium.each_with_index do |name, index|
      .winner{:class => ("first" if index == 0)}
        ="#{index+1}- #{name}" unless name.nil?
  .center
    -if !current_user
      %button.white{"data-target" => "#login-modal", :title => "GO" , "data-toggle" => "modal", class: "btngo" }
        GO
    -else
      %button.send_home_btn.btn.btngo{"data-auction" =>"#{@auction.id}"}
        GO
