.single-prodcut-area.mt60
  .container
    .row.row-padd
      .col-md-5.col-sm-6.col-xs-12.col-padd
        .auction.product-zoom-area
          .imgs-area
            / <img id="zoom_03" src="img/auction.product/h8-380x320.jpg" data-zoom-image="img/auction.product/large/h8-680x573.jpg" alt="">
            = image_tag @auction.product.image , id: "zoom_03"
      .col-md-7.col-sm-6.col-xs-12.col-padd
        .single-prodcut-des{:class => "auction"+@auction.id.to_s}
          .auction.product-name
            %h3= @auction.product.name
          .auction.product-des
            %ul
              %li Chaque offre augmente l'enchère  de #{ActiveSupport::NumberHelper.number_to_currency(@auction.valuetoinc, precision: 0, unit: 'FCFA')}
              %li.infogagn#infogagn
                -if @auction.top_bid.present?
                  -if current_user
                    -if @auction.topbid_user == current_user.id
                      Félicitations ,vous êtes temporairement le gagnant.
                    -else
                      Ooopss. Vous êtes hors enchère en ce moment.
            .price-type
              = @auction.description
            .price-type
              -if current_user
                =render "robot"
            .running-price.desblockprice.first-child
              %h1.desprice.price #{ActiveSupport::NumberHelper.number_to_currency(@auction.current_bid, precision: 0, unit: 'FCFA')}
              =render "bid"
            .running-price.desblockprice
              %h1 Classement
              .av_winner
                -@auction.podium.each_with_index do |name, index|
                  .winner{:class => ("first" if index == 0)}
                    ="#{index+1}- #{name}" unless name.nil?
          .count-bought
            .time-counter
              %div#countdownauction.timer_alert{"data-countdown" => @auction.auction_close,  "data-auctionid" => @auction.id.to_s, "data-auctiontype" => "active"}
            -#.bought
            -#  %span.nbench #{@auction.bids.size} Enchères
