= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
    %input{:class => "hidden", :id => 'paydunya-item', :type => "radio-button", :value =>"paydunya"}
  #accordion.panel-group.pb60{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.super-accordion
      #headingsix.panel-heading{:role => "tab"}
        %h4.panel-title
          %a.collapsed{"aria-controls" => "confirm-order", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#confirm-order"}
            Validation  Commande
            %span
              %i.fa.fa-caret-down
      #confirm-order.panel-collapse.collapse.in{"aria-labelledby" => "headingsix", :role => "tabpanel"}
        .panel-body
          .method-input-box.row
            .col-md-6
              =image_tag "icon/orange_money.png", :class => ' btn-radio img-responsive img-radio'
            .col-md-6
              %h3 Finalisez votre commade et payer avec Orange Money
              %p
                Tapez
                %b #144#21*776558156*Montant*code secret#
              %p
                NB : Lorsque vous utilisez un compte orange money différent de votre numero d'inscrption, merci de nous le notifer par SMS au
                %b 776558156
                ou par mail à
                %b contact@dakarclic.com
          .space-40
          .row
            .table-responsive
              %table.table.table-bordered
                %tbody
                  %tr
                    %td.model Prix à l'unité
                    %td
                      %span.price 100 FCFA
                    %td.align-right
                      .cart-quantity
                        .product-quantity
                          .cart-quantity
                            .cart-plus-minus
                              .dec.qtybutton -
                              =f.text_field :quantity , class: "cart-plus-minus-box"
                              .inc.qtybutton +
              .tfoot.cart-total
                %table.table.table-hover
                  %tbody
                    %tr
                      %td.left.last
                        %b Total:
                      %td.right.total.last
                        = ActiveSupport::NumberHelper.number_to_currency(@order.total_ttc, precision: 0, unit: 'FCFA')
                =f.hidden_field :total_ttc
                =f.hidden_field :total_ht
                =f.hidden_field :payment_method , :id => "paymentmethod", :value => "paydunya"
          .buttons.common-btn
            -if current_user
              //=f.button "Commander" ,"data-loading-text" => "Loading...", class: "btn btn-primary"
            -else
              %a{:href => "#login-modal", :title => "Commander" , "data-toggle" => "modal" , class: "btn btn-primary" , type: "button" }
                Commander
