<!--  breadcumb-area start -->
<div class="breadcumb-area">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="home"><a href="index.html" title="Go to Home Page">Home</a></li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
</div>
<!--  breadcumb-area end -->
<!-- Account Area Start -->
<div class="account-area pb60">
    <div class="row">
      <div class="col-sm-9 col-xs-12 col-sm-offset-2">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          <div class="login-reg">
            <h3>Login</h3>
            <div class="form-group">
              <%= f.label :email, :class=>"control-label" %>
              <%= f.email_field :email, :class=>"form-control", :placeholder=>"E-Mail", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.label :password, :class=>"control-label" %>
              <%= f.password_field :password, :class=>"form-control", :placeholder=>"Password", autocomplete: "off" %>
            </div>
          </div>
          <div class="frm-action">
            <div class="buttons common-btn chec">
              <%= f.submit "Login", :class=>"btn btn-primary", :dataLoadingText=>"Loading..." %>
            </div>
            <% if devise_mapping.rememberable? -%>
                <span>
                  <%= f.check_box :remember_me, :class=>"remr" %>
                    Remember me
                </span>
            <% end -%>
            <div class="forgotten">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
<!-- Account Area End -->



