<!DOCTYPE html>
<html>
<head>
  <title>DakarClic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= render "images/spinner" %>
<%= render "application/toast"%>
<div class="home-4-waraper">
  <%= render "header" %>
  <%= yield %>
  <%= render "footer"%>
</div>
<%= render "modal" %>
</body>
</html>
